<html>
<head>
  <meta charset="UTF-8">
  <title>Sign In</title>
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  <form id="signin" action="/signin" method="POST" >
    <input id="user" name="user" placeholder="user" type="text"></input>
    <br>
    <input id="pass" name="pass" placeholder="pass" type="text"></input>
    <br>
    <button id="submit" type="submit" href='/secret'>Sign In</button>
  </form>
  <script>
    const button = document.querySelector("#submit");
    const user = document.querySelector("#user").value;
    const pass = document.querySelector("#pass").value;
    const data = {user, pass};
    button.addEventListener('click', (event) => {
      fetch('/secret', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      })
        .then(response => response.json())
        .then(data => {
          console.log('Success:', data);
        })
        .catch((error) => {
          console.error('Error:', error);
        });
    })
  </script>
</body>
</html>
