<html>
<head>
  <meta charset="UTF-8">
  <title>Task Manager</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
  <script src="./js/index.js"></script>
  <script src="./js/secret.js"></script>
</head>
<body>
    <!--------
  - [ ] When the button is clicked to get tasks, 
  all tasks from the database should be displayed as list items in the `#task-list` element.
   These list items should display the task item followed by a `button` (inside the list item) 
   with a class of `remove` and display an `X`. As an example, one list item might look like
    --->
  <div id="create">
    <input id="task" placeholder="enter new task" type="text"></input>
    <button id="task-button">Add Task</button>
    <button id="retrieve">Get Tasks</button>
  </div>
  <ul id="task-list"></ul>
</body>
</html>
