<html>
<head>
  <meta charset="UTF-8">
  <title>Task Manager</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
  <script src="./js/index.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script> -->
</head>
<body>
  <h1>Create your To Do Lists</h1>
  <div id="create">
    <input id="task" placeholder="enter new task" type="text"></input>
    <button id="task-button">Add Task</button>
    <button id="retrieve">Get Tasks</button>
  </div>
  <h3>To DO Lists</h3>
  <ul id="task-list"></ul>
</body>
</html>
