<html>
<head>
  <meta charset="UTF-8">
  <title>Task Manager</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
  <script type="text/javascript"src="./js/index.js"></script>
</head>
<body>
  <div id="create">
    <input id="task" placeholder="enter new task" type="text"></input>
    <button id="task-button" onclick="addTask()">Add Task</button>
    <button id="retrieve">Get Tasks</button>
  </div>
  <ul id="task-list">

  </ul>
  <!-- originally these scripts were in index.js but i coudlnt get them to connect without putting them in the same file 
  i tried changing the paths to relative and absolute but it was a no go-->
  <script>
    const addTask = () => {
    let newTask = document.getElementById("task").value;
    let time = new Date().toJSON().slice(0,10).replace(/-/g,'/');
  
    fetch("/api/postTask", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({ item: newTask, created_at: time })
    })
  }
  
  $(document).ready(() => {
    $("#retrieve").click(() => {
      $.get("/api/getTask", (data, status) => {
        console.log(data.rows);
        data.rows.forEach((task) => {
          $("#task-list").append(
            `<li>${task.item}<button id="remove">X</button></li>`
          )
        })
      })
    })
  })
  </script>
</body>
</html>
