body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.title {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  padding-bottom: 10px;
}

.remove {
  color: white;
  background-color: red;
  font-weight: 900;
  float:right;
  text-align: center;
  text-justify: center;
  width: 30px;
  height: 20px;
}

#signin {
  margin: auto;
  width: 25%;
  padding-top:5%;
  text-align: center;
  background-color: #d3d3d3;
  border: 1px solid black;
}

#submit-button {
  margin-bottom: 10px;
}

input {
  margin-bottom: 10px;
}

#create{
  margin: 0 auto;
  width: 50%;
  text-align: center;
  margin-top: 3%;
}

#task-list {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

.task {
  list-style-type: none;
  min-width: 150px;
  border: 1px solid black;
  text-align: center;
}

#taskRow{
  height: 30px;
}