body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 21px;
  background-color: cornsilk;

}

.title {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  padding-bottom: 10px;
}

.remove {
  display: inline-block;
  float: right;
  width: 15px;
  height: 15px;
}

#signin {
  margin: auto;
  width: 25%;
  padding:5%;
  text-align: center;
  background-color: #d3d3d3;
  border: 1px solid black;
  border-radius:10px;
}

#submit-button {
  margin-bottom: 10px;
}

input {
  margin-bottom: 10px;
}

#create{
  margin: 0 auto;
  width: 50%;
  text-align: center;
  margin-top: 3%;
}

#task-list {
  list-style: none;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.task {
  list-style-type: none;
  min-width: 150px;
  border: 1px solid black;
  text-align: center;

}

button {
  height: 24px;
  border-radius: 5px;
}

.delete-button {
  margin: 0 0 3px 10px;
}